@import "../../variables.css";

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  outline: transparent;
  padding: 0;
}
.Pagination > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 21px;
  height: 25px;
}
.Pagination > li > a {
  width: 21px;
  text-align: center;
  margin: auto;
}
.active {
  background: var(--color-bg);
  color: var(--active-text-color);
  border-radius: 3px;
}
.infoPagination {
  position: relative;
  justify-content: end;
  margin-right: 70px;
  display: flex;
  align-items: center;
  color: var(--text-pagination-color);
}
.infoText {
  color: var(--text-pagination-color);
}
.iconLeft:hover path,
.iconRight:hover path,
.linkNext:hover,
.linkPreview:hover {
  cursor: pointer;
  stroke: #0064eb;
}
.page:hover,
.linkBreak:hover {
  background: var(--hover-bg-item);
  color: var(--active-text-color);
  cursor: pointer;
  scale: 1.08;
  border-radius: 3px;
}
