@import "../../variables.css";

.mainInfo {
  position: relative;
  padding: 40px 56px;
  display: flex;
}
.blockProfile {
  min-width: 292px;
  display: flex;
  flex-direction: column;
  padding-right: 84px;
}
.imageUsers {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}
.userInfo > p {
  padding: 0 0 2px 0;
}
.userLink {
  text-decoration: none;
  color: var(--color-bg);
  cursor: pointer;
}
.containerSubscriptionInfo {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.containerFollow {
  display: inherit;
  align-items: center;
}
.iconFollow {
  margin: auto 5px;
}
.containerRepositoriesInfo {
  position: relative;
  width: 877px;
  max-width: calc(100% - 20px);
  height: 100%;
}
h2 {
  margin: 0;
  padding-bottom: 29px;
}
