@import "../../variables.css";

header {
	position: relative;
	top: 0;
	left: 0;
	background: var(--color-bg);
	display: flex;
	width: 100%;
	height: 72px;
	flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin-left: 2%;
	flex: 1; /* Allow the container to grow and shrink */
}

.imageLogo:hover {
	cursor: pointer;
}

.containerForInput {
	display: flex;
	margin-left: 4%;
	background: var(--color-bg-input);
	width: 100%; /* Adjust width for responsiveness */
	max-width: 500px; /* Set a maximum width */
	height: 40px;
	border-radius: 6px;
	align-items: center;
	flex: 1; /* Allow the container to grow and shrink */
}

.containerForInput:hover {
	scale: 1.02;
}

.iconSearch {
	padding-left: 8px;
}

.headerInput {
	border: none;
	width: calc(100% - 7%);
	height: 35px;
	outline: none;
	margin-left: 8px;
	padding: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
	.headerContainer {
		margin: 0 10px;
		justify-content: center;
	}

	.containerForInput {
		margin: 0 10px;
		width: 85%;
	}
}
